<% if !todo_task.completed? %>
  <p><%= todo_task.content %></p>
<% else %>
  <p><strike><%= todo_task.content %></strike></p>
<% end %>
<%= link_to "Update", complete_todo_group_todo_task_path(@todo_group, todo_task.id), method: :patch %>
<%= link_to "Delete", todo_group_todo_task_path(@todo_group, todo_task.id), method: :delete, data: {confirm: "Are you sure you want to delete this Task?"} %>
